# Framework principal da aplicação web
streamlit
streamlit-modal
streamlit-options-menu
streamlit-aggrid

# Manipulação e análise de dados
pandas
numpy

# Leitura de arquivos PDF (para extratos de convênio)
pdfplumber

# Dependências do Pandas para ler arquivos Excel
openpyxl # Para .xlsx
xlrd     # Para .xls
lxml     # Para .xls que são HTML

# Visualização de dados
matplotlib
seaborn
plotly